<div class="users-page">
  <header>
    <h2 class="users-title">Browse Users</h2>
    <hr>
  </header>

  <section>
    <div class="d-flex gap-2 mb-3 p-2 align-items-center justify-content-end bg-light">
      <p class="mb-0">
        Users loaded : {{ users().length }}
      </p>
      <button class="btn btn-secondary" (click)="loadUsers()">
        Refresh
      </button>
      <button class="btn btn-danger" (click)="emptyUsers()">
        Empty
      </button>
    </div>

    <div>
      <ag-grid-angular
        class="users-grid"
        [rowData]="users()"
        [columnDefs]="colDefs"
        [theme]="theme"
        [pagination]="true"
        [paginationPageSize]="10"
        [paginationPageSizeSelector]="[10,20,50]"
        [rowSelection]="rowSelection"
        [suppressCellFocus]="true"
        (selectionChanged)="onSelectionChanged($event)"
      ></ag-grid-angular>
    </div>
  </section>

  <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>User details</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close">
          </button>
        </div>

        <div class="modal-body">
          @if(selectedUser){
            <p>{{ selectedUser.firstName }}</p>
          }
        </div>

        <div class="modal-footer">

        </div>
      </div>
    </div>

  </div>

</div>
