<div class="auth-container">
  <h2>Inscription</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="form-field">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" />

      @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
      <span class="error">
          @if (registerForm.get('email')?.errors?.['required']) {
            L'email est requis.
          }
          @if (registerForm.get('email')?.errors?.['email']) {
            Format d'email invalide.
          }
        </span>
      }
    </div>

    <div class="form-field">
      <label for="password">Mot de passe</label>
      <input id="password" type="password" formControlName="password" />

      @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
      <span class="error">
          @if (registerForm.get('password')?.errors?.['required']) {
            Le mot de passe est requis.
          }
          @if (registerForm.get('password')?.errors?.['minlength']) {
            8 caractères minimum.
          }
        </span>
      }
    </div>

    @if (errorMessage) {
    <div class="error global-error">{{ errorMessage }}</div>
    }

    <button type="submit">S'inscrire</button>
  </form>
</div>
